SECRET_KEY=cambiar_esta_clave_en_produccion
SQLALCHEMY_DATABASE_URI=postgresql://usuario:password@host:5432/nombre_bd?sslmode=require
FLASK_APP=run.py
FLASK_ENV=development
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=correo@ejemplo.com
MAIL_PASSWORD=contraseña_app
